/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.5em;
		font-size: 10pt;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
	}
	
/*********************************************************************************/
/* Device Image                                                                  */
/*********************************************************************************/

	#box1
	{
	}		

	#box2
	{
		margin-left: 20%;
	}
	
	#box3
	{
		margin-right: 20%;
	}
	
	#box3:before
	{
	}
	